{% extends '_base.twig' %}
{% set titleTag = tagType %}

{% block headerLinks %}
<a href="/tags" class="homepage-link">tags</a>&nbsp;/&nbsp;<a href="/people" class="homepage-link">people</a>&nbsp;/&nbsp;<a href="/places" class="homepage-link">places</a>{#&nbsp;/&nbsp;<a target="_blank" href="/rss" class="homepage-link">rss</a>#}
{% endblock %}

{% block posts %}
<h3>{{ tagType|capitalize }}</h3>
<h4 class="taglist-count">{{ tags|length }} {% if tags|length != 1 %}{{ tagType }}{% else %}{{ tagTypeSingular }}{% endif %}</h4>
  {% if tags|length == 0 %}
    <p>No {{ tagType }} found...</p>
  {% else %}
    <div class="taglist">
      {% for tag, photos in tags %}
        <div class="{{ tagType }}">
          <a href="/{{ tagTypeSingular }}/{{ tag|replace({' ': '_'}) }}">{% if tagType == "tag" %}#{% endif %}{{ tag }}</a><span>{{ photos }} Photo{% if photos != 1 %}s{% endif %}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}