{% extends '_base.twig' %}
{% set titleTag = tagType %}

{% block headerLinks %}
<a href="/tags" class="homepage-link">tags</a>&nbsp;/&nbsp;<a href="/people" class="homepage-link">people</a>&nbsp;/&nbsp;<a href="/places" class="homepage-link">places</a>{#&nbsp;/&nbsp;<a target="_blank" href="/rss" class="homepage-link">rss</a>#}
{% endblock %}

{% block posts %}
<h3>{{ tagType|capitalize }}</h3>
<h4 class="taglist-count">{{ tags|length }} {% if tags|length != 1 %}{{ tagType }}{% else %}{{ tagTypeSingular }}{% endif %}</h4>
  {% if tags|length == 0 %}
    <p>No {{ tagType }} found...</p>
  {% else %}
    <div class="taglist">
      {% for tag, photos in tags %}
        <div class="{{ tagType }}">
          <a href="/{{ tagTypeSingular }}/{{ tag|replace({' ': '_'}) }}">{% if tagType == "tag" %}#{% endif %}{{ tag }}</a><span>{{ photos }} Photo{% if photos != 1 %}s{% endif %}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <title>tags | photos</title>#}
{#  <meta charset="UTF-8" />#}
{#  <meta name="viewport" content="width=device-width,initial-scale=1" />#}
{#  <meta name="description" content="photos by charlie wilson" />#}
{#  <link rel="alternate" type="application/rss+xml" title="photos.charlie.town" href="/rss">#}
{#  <link rel="stylesheet" href="/theme/css/style.css?{{ random(9999) }}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#  <header>#}
{#    <h1><a href="/">photos</a><span>.charlie.town</span></h1>#}
{#    <div>#}
{#      <a href="/tags" class="homepage-link">tags</a>&nbsp;/&nbsp;<a href="/people" class="homepage-link">people</a>&nbsp;/&nbsp;<a href="/places" class="homepage-link">places</a>#}{#&nbsp;/&nbsp;<a target="_blank" href="/rss" class="homepage-link">rss</a>#}
{#    </div>#}
{#  </header>#}
{#  <section class="posts">#}
{#    <h3>Tags</h3>#}
{#    <h4 class="taglist-count">{{ tags|length }} tag{% if tags|length != 1 %}s{% endif %}</h4>#}
{#    {% if tags|length == 0 %}#}
{#      <p>No tags found...</p>#}
{#    {% else %}#}
{#      <div class="taglist">#}
{#        {% for tag, photos in tags %}#}
{#          <div class="tags">#}
{#            <a href="/tag/{{ tag|replace({' ': '_'}) }}">#{{ tag }}</a><span>{{ photos }} Photo{% if photos != 1 %}s{% endif %}</span>#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    {% endif %}#}
{#  </section>#}
{#</div>#}
{#</body>#}
{#</html>#}
